<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4 w-full md:w-1/3 mx-auto mt-2">
  <div class="flex items-center">
    <label for="title" class="w-1/4 text-right mr-2">Title</label>
    <input id="title" formControlName="title" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
    <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="text-red-500 text-sm">
      Title is required.
    </div>
  </div>
  <div class="flex items-center">
    <label for="slug" class="w-1/4 text-right mr-2">Slug</label>
    <input id="slug" formControlName="slug" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
    <div *ngIf="postForm.get('slug')?.invalid && postForm.get('slug')?.touched" class="text-red-500 text-sm">
      Slug is required.
    </div>
  </div>
  <div class="flex flex-col">
    <label for="content" class="w-full mb-2">Content</label>
    <textarea id="content" formControlName="content" rows="5" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500"></textarea>
    <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched" class="text-red-500 text-sm">
      Content is required.
    </div>
  </div>
  <div class="flex items-center">
    <label for="category_id" class="w-1/4 text-right mr-2">Category ID</label>
    <input id="category_id" formControlName="category_id" type="number" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
    <div *ngIf="postForm.get('category_id')?.invalid && postForm.get('category_id')?.touched" class="text-red-500 text-sm">
      Category ID is required.
    </div>
  </div>
  <div class="flex items-center">
    <label for="published_at" class="w-1/4 text-right mr-2">Published At</label>
    <input id="published_at" formControlName="published_at" type="datetime-local" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
    <div *ngIf="postForm.get('published_at')?.invalid && postForm.get('published_at')?.touched" class="text-red-500 text-sm">
      Published date and time is required.
    </div>
  </div>
  <button type="submit" class="px-4 py-2 rounded-md bg-blue-500 text-white hover:bg-blue-700">Create Post</button>
</form>
